[Unit]
Description=Jenkins Slave Service
After=docker.service
Requires=docker.service

[Service]
Restart=always
ExecStartPre=-/usr/bin/docker kill jenkins-slave
ExecStartPre=-/usr/bin/docker rm -f jenkins-slave
ExecStartPre=/usr/bin/docker pull corfr/jenkins-swarm-docker-client
ExecStartPre=/usr/bin/mkdir -p /home/jenkins-slave/workspace
ExecStartPre=/usr/bin/chmod 777 /home/jenkins-slave/workspace
ExecStart=/usr/bin/docker run \
                                --rm \
                                --name jenkins-slave \
                                --volume=/var/run/docker.sock:/var/run/docker.sock \
                                --volume=/usr/bin/docker:/usr/bin/docker \
                                --volume=/home/jenkins-slave/workspace:/home/jenkins-slave/workspace \
                                corfr/jenkins-swarm-docker-client -master ${JENKINS_MASTER}
ExecStop=/usr/bin/docker stop -t 2 jenkins-slave

[X-Fleet]
Global=true
MachineMetadata=role=node

